In [36]:
#pip install SQLAlchemy #used to export a pandas DF to MYSQL table 
#pip install mysql-connector-python #used to connect MYSQL to python

In [37]:
import pandas as pd
import mysql.connector
from datetime import date, datetime, timedelta
import random
import time

In [38]:
pandas_conn = 'mysql+mysqlconnector://root:root@localhost:3306/bi_project_db' #connection string for MYSQL alchemy

#ill use this connection for filling the lookup tables using the pandas df.to_sql method because it will allow
#me to overwrite the tables before inserting 
#ill lose referential integrity because the pandas import method overrides the original table structure with the 
#columns data types of the data frame that will be imported. but it wont matter because i will take the referential integrity
#constraint into consideration becauase i will be filling the lookup tables manually.

In [39]:
#Vehicle_DF.to_sql(name = 'vehicle', con = pandas_conn, schema = 'bi_project_db', if_exists = 'replace', index = False)
#example on how to import using pandas

In [40]:
conn = mysql.connector.connect(host='localhost',
                                         database='bi_project_db',
                                         user='root',
                                         password='root'
                              )

#ill use this connection to fill the transactional tables because it will keep the original table structure, so the primary
#key column of the transaction tables will auto increment each time a record is inserted.

In [41]:
cursor = conn.cursor()

In [42]:
conn.close()

In [43]:
'''def Product():

    cols_list = Product_DF.columns.to_list()
    list_to_string = ', '.join(cols_list)
    columns = '(' + list_to_string + ')'
    Insert_String = 'insert into bi_project_db.product \n ' \
          +  columns  + '\n' + \
         'Values (%s, %s, %s, %s, %s)'
    

    for index, record in Product_DF.iterrows():
        cursor.execute(Insert_String, tuple(record))
        conn.commit()
'''

#Example on how to import using mysql.connector

"def Product():\n\n    cols_list = Product_DF.columns.to_list()\n    list_to_string = ', '.join(cols_list)\n    columns = '(' + list_to_string + ')'\n    Insert_String = 'insert into bi_project_db.product \n '           +  columns  + '\n' +          'Values (%s, %s, %s, %s, %s)'\n    \n\n    for index, record in Product_DF.iterrows():\n        cursor.execute(Insert_String, tuple(record))\n        conn.commit()\n"

### Vehicle Table

In [44]:
def Vehicle():
    
    ID = list(range(1,4))

    Brand = ['Tesla', 'Tesla', 'Tesla']

    Model = ['Tesla Truck', 'Tesla Truck', 'Tesla Truck']

    Year_Of_Model = [2021, 2021, 2021]

    Plate_Number = ['DFA124', 'IGK181', 'KKR920']

    License_Number = [76908487, 76908465, 96908442]


    Dic = {
            'ID': ID, 'Brand': Brand, 'Model': Model, 'Year_Of_Model': Year_Of_Model, 'Plate_Number': Plate_Number, \
            'License_Number':License_Number
          }

    Vehicle_DF = pd.DataFrame(Dic)
    
    Vehicle_DF.to_sql(name = 'vehicle', con = pandas_conn, schema = 'bi_project_db', 
                      if_exists = 'replace', index = False)

In [45]:
#Vehicle_DF.to_sql(name = 'vehicle', con = conn, schema = 'bi_project_db', if_exists = 'replace', index = True)
#Use this method to export data using pandas.
#i did not use this method because it changes the table's structure, and the tables lose referential integrity

### Raw_Material Table

In [46]:
def Raw_Material():
    
    ID = list(range(1,8))

    
    Name = ['Copper', 'Lithium', 'Tin', 'Silver', 'Gold', 'Nickel', 'Aluminum']

    Category = ['Metals', 'Metals', 'Metals', 'Metals', 'Metals', 'Metals', 'Metals']

    Cost_Price = [5, 9, 13, 14, 11, 12, 14]

    Unit_Of_Measure = ['KG', 'KG', 'KG', 'KG', 'KG', 'KG', 'KG' ]

    Unit_Value = [5, 5, 5, 5, 5, 5, 5]


    Dic = {
            'ID': ID, 'Name': Name, 'Category': Category, 'Cost_Price': Cost_Price, 'Unit_Of_Measure': Unit_Of_Measure, \
            'Unit_Value': Unit_Value
          }


    Raw_Material_DF = pd.DataFrame(Dic)
    
    Raw_Material_DF.to_sql(name = 'raw_material', con = pandas_conn, schema = 'bi_project_db', if_exists = 'replace',
                           index = False)

### Product Table

In [47]:
def Product():
    
    ID = list(range(1,17))

    Name = [
            'Iphone', 'Alienware Laptop', 'Washing Machine', 'Lenovo Laptop', 'Samsung Mobile', 'One Plus Mobile', \
            'Xiaomi Mobile', 'Samsung Laptop', 'PS5', 'Toshiba Laptop', 'Iphone', 'Huawei Mobile', \
            'Canon Camera', 'Speakers', 'HP Laptop', 'Oven'
           ]

    Color = [
            '-', '-', '-', '-', '-', '-', '-', '-', \
            '-', '-', '-', '-', '-', '-', '-', '-'
            ]

    Category = [
               'Mobiles', 'Laptops', 'Appliances', 'Laptops', 'Mobiles', 'Mobiles', \
               'Mobiles', 'Laptops', 'Video Games', 'Laptops', 'Mobiles', 'Mobiles',  \
               'Cameras', 'TV, Audio & Video', 'Laptops', 'Appliances'
               ]

    Cost_Price =  [
                    150, 160, 310, 310, 310, 200, 500, 500, 130, 160, 170, 310, 310, 300, 200, 160
                  ]

    Selling_Price = [
                        200, 200, 350, 350, 350, 200, 600, 600, 250, 200, 200, 350, 350, 350, 200, 200
                    ]




    Dic = {
             'ID': ID, 'Name': Name, 'Color': Color, 'Category': Category, 'Cost_Price':Cost_Price, 'Selling_Price': Selling_Price
          }


    Product_DF = pd.DataFrame(Dic)

    Product_DF.to_sql(name = 'product', con = pandas_conn, schema = 'bi_project_db', if_exists = 'replace',
                           index = False)

### Department Table

In [48]:
def Department():
    
    ID = list(range(1,7))

    Name = ['Sales', 'Purchases', 'Operations', 'HR', 'Finance', 'IT']


    Dic = {'ID': ID, 'Name': Name}


    Department_DF = pd.DataFrame(Dic)

    Department_DF.to_sql(name = 'department', con = pandas_conn, schema = 'bi_project_db', if_exists = 'replace',
                           index = False)

### Promotion Table

In [49]:
def Promotion():
    
    ID = [1,2]

    Code = ['10% discount', '20% discount']

    Type = ['Discount', 'Discount']

    Amount = [0.1, 0.2]

    Valid_From = ['2022-06-06', '2099-06-06']

    Valid_To = ['2022-06-06', '2099-06-06']


    Dic = {'ID': ID, 'Code': Code, 'Type': Type, 'Amount': Amount, 'Valid_From': Valid_From, 'Valid_To': Valid_To}


    Promotion_DF = pd.DataFrame(Dic)

    Promotion_DF.to_sql(name = 'promotion', con = pandas_conn, schema = 'bi_project_db', if_exists = 'replace',
                           index = False)

### Payment_Type Table

In [50]:
def Payment_Type():
    
    ID = list(range(1,3))

    Description = ['Credit', 'Cash']


    Dic = {'ID': ID, 'Description': Description}


    Payment_Type_DF = pd.DataFrame(Dic)

    Payment_Type_DF.to_sql(name = 'payment_type', con = pandas_conn, schema = 'bi_project_db', if_exists = 'replace',
                           index = False)

### Order_Method Table

In [51]:
def Order_Method():
    
    ID = list(range(1,3))

    Description = ['Online', 'Offline']


    Dic = {'ID': ID, 'Description': Description}


    Order_Method_DF = pd.DataFrame(Dic)

    Order_Method_DF.to_sql(name = 'order_method', con = pandas_conn, schema = 'bi_project_db', if_exists = 'replace',
                           index = False)

### Return_Reason Table

In [52]:
def Return_Reason():
    
    ID = list(range(1,5))

    Description = [
                    'Faulty product', 'Other', 'Change In Plans', 'Need Different Size'
                  ]


    Dic = {'ID': ID, 'Description': Description}


    Return_Reason_DF = pd.DataFrame(Dic)

    Return_Reason_DF.to_sql(name = 'return_reason', con = pandas_conn, schema = 'bi_project_db', if_exists = 'replace',
                           index = False)

### Country Table

In [53]:
def Country():
    
    ID = list(range(1,2))

    Name = ['DC Universe']


    Dic = {'ID': ID, 'Name': Name}


    Country_DF = pd.DataFrame(Dic)

    Country_DF.to_sql(name = 'country', con = pandas_conn, schema = 'bi_project_db', if_exists = 'replace',
                           index = False)

### City Table

In [54]:
def City():
    
    ID = list(range(1,6))

    Name = ['Gotham City', 'Metropolis', 'Smallville', 'Star City', 'Central City']

    CountryID = [1, 1, 1, 1, 1]


    Dic = {'ID': ID, 'Name': Name, 'CountryID': CountryID}


    City_DF = pd.DataFrame(Dic)

    City_DF.to_sql(name = 'city', con = pandas_conn, schema = 'bi_project_db', if_exists = 'replace',
                           index = False)

### Area Table

In [55]:
def Area():
    
    ID = list(range(1,12))

    Name = [
            'Crime Alley', 'The Batcave', 'Arkham Asylum', 'GCPD', 'Blackgate', 'Ace Chemicals', 'Wayne Enterprises', \
            'Daily Planet', 'LexCorp', 'STAR Labs', 'Wayne Tech'
            ]

    CityID = [1, 2, 3, 4, 5, 1, 1, 2, 2, 4, 5]


    Dic = {'ID': ID, 'Name': Name, 'CityID': CityID}


    Area_DF = pd.DataFrame(Dic)

    Area_DF.to_sql(name = 'area', con = pandas_conn, schema = 'bi_project_db', if_exists = 'replace',
                           index = False)

### Employee Table

In [56]:
def Employee():
    
    ID = list(range(1,4))

    First_Name = ['Hal', 'Barry', 'Arthur']

    Last_Name = ['Jordan', 'Allen', 'Curry']

    Phone_Number = [11110111, 202222, 33333333]

    Email = ['Hal@xyz.com', 'Barry@xyz.com', 'Arthur@xyz.com']

    AreaID = [1, 2, 1]

    DepartmentID = [1, 1, 1]

    ManagerID = [1, 1, 2]

    Level = [1, 2, 3]

    National_ID = [123456, 654321, 987789]


    Dic = {
            'ID': ID, 'First_Name': First_Name, 'Last_Name': Last_Name, 'Phone_Number': Phone_Number , 'Email': Email , \
            'AreaID': AreaID , 'DepartmentID': DepartmentID , 'ManagerID': ManagerID , 'Level': Level , 'National_ID': National_ID 
          }


    Employee_DF = pd.DataFrame(Dic)

    Employee_DF.to_sql(name = 'employee', con = pandas_conn, schema = 'bi_project_db', if_exists = 'replace',
                           index = False)

### Customer Table

In [57]:
def Customer():
    
    ID = list(range(1,9))

    First_Name = ['Peter', 'Bruce', 'Harry', 'Tony', 'Clark', 'Diana', 'Harley', 'Barbara']

    Last_Name = ['Parker', 'Wayne', 'Potter', 'Stark', 'Kent', 'Prince', 'Quinn', 'Gordon']

    Phone_Number = [11111121, 22222231, 33333341, 11111151, 22222261, 33333371, 11111181, 11111191 ]

    Email = [
                'Parker@xyz.com', 'Wayne@xyz.com', 'Potter@xyz.com', 'Stark@xyz.com', \
                'Kent@xyz.com', 'Prince@xyz.com', 'Quinn@xyz.com', 'Gordon@xyz.com'
            ]

    AreaID = [1, 2, 3, 4, 1, 2, 3, 4]


    Dic = {
            'ID': ID, 'First_Name': First_Name, 'Last_Name': Last_Name, 'Phone_Number': Phone_Number , \
            'Email': Email , 'AreaID': AreaID 
          }


    Customer_DF = pd.DataFrame(Dic)

    Customer_DF.to_sql(name = 'customer', con = pandas_conn, schema = 'bi_project_db', if_exists = 'replace',
                           index = False)

### Supplier Table

In [58]:
def Supplier():
    
    ID = list(range(1,7))

    Name = ['LiveSale Supply', 'Retail Distribution Bros', 'Wholesale Imported', 'SupplySpace Global', \
            'Metals Trading', 'Leads Group']

    Phone_Number = [11110118, 202228, 33333338, 33333334, 33333337, 33333332 ]
    
    Email = ['LiveSaleSupply@xyz.com', 'RetailDistributionBros@xyz.com', 'WholesaleImported@xyz.com', \
             'SupplyspaceGlobal@xyz.com', 'MetalsTrading@xyz.com', 'LeadsGroup@xyz.com' ]
    
    AreaID = [1, 2, 3, 2, 1, 3]


    Dic = {
            'ID': ID, 'Name': Name, 'Phone_Number': Phone_Number , \
            'Email': Email , 'AreaID': AreaID 
          }


    Supplier_DF = pd.DataFrame(Dic)

    Supplier_DF.to_sql(name = 'supplier', con = pandas_conn, schema = 'bi_project_db', if_exists = 'replace',
                           index = False)

### Branch Table

In [59]:
def Branch():
    
    ID = list(range(1,4))

    Name = ['Store1', 'Store2', 'Warehouse1']

    Type = ['Store', 'Store', 'Warehouse']
    
    Square_Meters = [150, 220, 240]

    Monthly_Rent = [10000, 8000, 5000]

    Average_Monthly_Expenses = [2500, 2000, 1500]

    AreaID = [1, 1, 1]


    Dic = {
            'ID': ID, 'Name': Name, 'Type': Type, 'Square_Meters': Square_Meters, 'Monthly_Rent': Monthly_Rent, \
            'Average_Monthly_Expenses': Average_Monthly_Expenses, 'AreaID': AreaID \

          }


    Branch_DF = pd.DataFrame(Dic)

    Branch_DF.to_sql(name = 'branch', con = pandas_conn, schema = 'bi_project_db', if_exists = 'replace',
                           index = False)

### Route Table

In [60]:
def Route():
    
    ID = list(range(1,9))

    Code = ['F1', 'C3', 'M7', 'M4', 'C1', 'F9', 'M1', 'C1']

    From_Branch = [1, 2, 3, 1, 2, 3, 1, 2]

    Last_Destination_Stop = [1, 2, 3, 4, 5, 6, 7, 8]

    Total_Kilometers_Distance = [64, 82, 34, 92, 56, 51, 43, 29]

    Average_Minutes_Duration = [62, 80, 32, 90, 54, 49, 41, 27]


    Dic = {
            'ID': ID, 'Code': Code, 'From_Branch': From_Branch, 'Last_Destination_Stop': Last_Destination_Stop , \
            'Total_Kilometers_Distance': Total_Kilometers_Distance , 'Average_Minutes_Duration': Average_Minutes_Duration 
          }


    Route_DF = pd.DataFrame(Dic)

    Route_DF.to_sql(name = 'route', con = pandas_conn, schema = 'bi_project_db', if_exists = 'replace',
                           index = False)

### Trip Table

In [61]:
#create new trips

#this function creates new trips for the entered date. it takes an input parameter as the trip date. 
#current_date is the default parameter.
#a total of 4 trips are created for each day with 4 different times. each day cannot have more than 4 trips. this is handled
#with an if condition. the function returns a dataframe with the newly created trips.

def Create_Trips(P_Date = date.today() + timedelta(days = 1)): 
    #added timedelta days = 1 to make sure that there are trips that cover the order creation date.
    #check the query of Order_Date_With_Trip_DF in the function Create_Orders()

    query_string = 'select count(*) \
             from bi_project_db.trip \
             where cast(expected_start_date as date) = ' + '\'' + str(P_Date) + '\''
    #creates a dataframe that checks the number of trips in the day of the input date parameter.

    trips = pd.read_sql_query(query_string, pandas_conn)
    trips = trips.iloc[0,0]

    if trips == 0: #if there are no trips, the rest of the code will excecute.

       
        Vehicles = pd.read_sql_query('select id from vehicle', pandas_conn)
        Vehicles = Vehicles['id'].to_list()

        Employees = pd.read_sql_query('select id from employee', pandas_conn)
        Employees = Employees['id'].to_list()

        Routes = pd.read_sql_query('select id from route', pandas_conn)
        Routes = Routes['id'].to_list()

        RouteID = [random.choice(Routes) for i in list(range(4))]

        RouteID_DF = pd.DataFrame(RouteID, columns = ['id']) 
        Route_And_AVG_Time_DF = pd.read_sql_query('select id, Average_Minutes_Duration from route', pandas_conn)
        #get the trip average minutes duration because it will be used to calculate the column expected_end_date
        trip_with_minutes_df = RouteID_DF.merge(Route_And_AVG_Time_DF, how='left', left_on = 'id', right_on = 'id')

        trip_start_times = ['00:00:00', '06:00:00', '12:00:00', '18:00:00'] #create 4 trips each day with 4 fixed start times

        Expected_Start_Date_List = [datetime.strptime(str(P_Date) + ' ' + i,'%Y-%m-%d %H:%M:%S')  for i in trip_start_times]
        #concatenate the entered input parameter with the 4 trip start times to create 4 trips each day with an interval of 6
        #hours between each

        Expected_Start_Date_DF = pd.DataFrame(Expected_Start_Date_List, columns = ['Expected_Start_Date'])
        Expected_Start_Date_DF = Expected_Start_Date_DF.join(trip_with_minutes_df) #join the trip expected start date with the 
        #route average minutes to calculate the trip expected_end_date

        Expected_End_Date = []
        for index, record in Expected_Start_Date_DF.iterrows():
            avg_minutes_duration = record['Average_Minutes_Duration']
            Expected_Start_Date = record['Expected_Start_Date']
            Expected_Start_Date = Expected_Start_Date + timedelta(minutes = avg_minutes_duration)
            Expected_End_Date.append(Expected_Start_Date)
            #expected_end_date = expected_start_date + the trip route average minutes duration 

        VehicleID = [random.choice(Vehicles) for i in list(range(4))]

        EmployeeID = [random.choice(Employees) for i in list(range(4))]

        RouteID = RouteID

        Expected_Start_Date = Expected_Start_Date_List #it is already created in the steps above

        Actual_Start_Date = [None, None, None, None] #set the values as None temporarily. when the current_datetime >=
        #the expected_start_date, the actual_start_date will be generated. this will be handled by the function
        #Trip_Actual_Start_Date()

        Expected_End_Date = Expected_End_Date #it is already created in the steps above

        Actual_End_Date = [None, None, None, None] #set the values as None temporarily. when the current_datetime >=
        #the expected_emdnd_date, the actual_end_date will be generated. this will be handled by the function
        #Trip_Actual_End_Date()


        Dic = {
                'VehicleID': VehicleID, 'EmployeeID': EmployeeID, 'RouteID': RouteID, \
                'Expected_Start_Date': Expected_Start_Date, 'Actual_Start_Date': Actual_Start_Date,
                'Expected_End_Date': Expected_End_Date, 'Actual_End_Date': Actual_End_Date
              }


        Trip_DF = pd.DataFrame(Dic)
        
        return Trip_DF

In [62]:
#insert the new trips to the trips table. this function takes the trips DF as an input. it does not return anything.

def Insert_Trips(Trip_DF):
    
    if Trip_DF is None:
        pass
    
    else:
        
    
        conn = mysql.connector.connect(host='localhost',
                                        database='bi_project_db',
                                        user='root',
                                        password='root'
                                        )

        cursor = conn.cursor()

        cols_list = Trip_DF.columns.to_list()
        list_to_string = ', '.join(cols_list)
        columns = '(' + list_to_string + ')'
        Insert_String = 'insert into bi_project_db.trip \n ' \
        +  columns  + '\n' + \
        'Values (%s, %s, %s, %s, %s, %s, %s )'

        for index, record in Trip_DF.iterrows():
            cursor.execute(Insert_String, tuple(record))
            conn.commit()
        conn.close()

In [63]:
#add the actual_start_date column. this function updates the trips table by replacing None in the Actual_Start_Date column
#with a datetime value. this function does not take any input. this function does not return anything.

def Trip_Actual_Start_Date():
    
    #get trips that do not have actual_start_date
    Trip_DF = pd.read_sql_query('select * from trip where actual_start_date is null', pandas_conn)
    
    if Trip_DF.empty == True:
        pass
    else:
    
        #check if the current_date passed the time of the expected_start_date
        condition = Trip_DF['Expected_Start_Date'].apply(lambda x: datetime.now() > x)

        changes_df = Trip_DF.loc[condition, ['ID','Expected_Start_Date']]

        Actual_Start_Date = []

        minutes_delay_list = list(range(1,35)) #enerate randomly 1-35mnutes which will be added the to expected_start_date
        #to get the actual start_date

        for index, record in changes_df.iterrows():
            minutes_delay = random.choice(minutes_delay_list)
            ID = record['ID']
            Expected_Start_Date = record['Expected_Start_Date']
            Expected_Start_Date = Expected_Start_Date + timedelta(minutes = minutes_delay)
            Actual_Start_Date.append([ID, Expected_Start_Date])


        #the trip id will be used to update the trips table because it is the unique identifier
        Actual_Start_Date_DF = pd.DataFrame(Actual_Start_Date, columns = ['ID', 'Actual_Start_Date'])

        #export the trips with the actual_start_time to MYSQL because they will be used to update the trips table
        Actual_Start_Date_DF.to_sql(name = 'temp', con = pandas_conn, schema = 'bi_project_db', if_exists = 'replace',
                                   index = False)

        conn = mysql.connector.connect(host='localhost',
                                                 database='bi_project_db',
                                                 user='root',
                                                 password='root'
                                      )


        cursor = conn.cursor()


        sql_statement = 'UPDATE trip \
               inner join temp ON (trip.id = temp.id) \
               SET trip.Actual_Start_Date = temp.Actual_Start_Date;'

        cursor.execute(sql_statement)
        conn.commit()
        conn.close()

In [64]:
#add the actual_end_date column. this function updates the trips table by replacing None in the Actual_End_Date column
#with a datetime value. this function does not take any input. this function does not return anything.
#refer to the function Trip_Actual_Start_Date(). it has a similar functionality as this function, but this function updates
#the column Actual_End_Date.

def Trip_Actual_End_Date():

    Trip_DF = pd.read_sql_query('select * from trip where actual_end_date is null', pandas_conn)
    
    if Trip_DF.empty == True:
        pass
    
    else:
        
        Route_DF = pd.read_sql_query('select id, Average_Minutes_Duration from route', pandas_conn)

        condition = Trip_DF['Expected_End_Date'].apply(lambda x: datetime.now() > x)

        changes_df = Trip_DF.loc[condition, ['ID','Actual_Start_Date', 'RouteID']]

        trip_with_route_df = changes_df.merge(Route_DF, how='left', left_on = 'RouteID', right_on = 'id')

        trip_with_route_df = trip_with_route_df[['ID', 'Actual_Start_Date', 'Average_Minutes_Duration']]

        Actual_End_Date_List = []



        for index, record in trip_with_route_df.iterrows():
            Average_Minutes_Duration = record['Average_Minutes_Duration']
            trip_actual_duration = random.uniform(0.65, 1.35) * Average_Minutes_Duration
            #random.uniform generates a random decimal number between 0.65 and 1.35.
            #0.65 * average minutes duraition means that the trip took only 65% of the average duration,
            #so the trip will arrive early 35% earlier (1-0.65 = 0.35)
            #1.35 * average minutes duraition means that the trip took 35% more time that the average duration,
            #so the trip will arrive 35% more late (1-1.35 = -0.35)
            ID = record['ID']
            Actual_Start_Date = record['Actual_Start_Date']
            Actual_End_Date = Actual_Start_Date + timedelta(minutes = trip_actual_duration)
            Actual_End_Date_List.append([ID, Actual_End_Date])


        Actual_End_Date_DF = pd.DataFrame(Actual_End_Date_List, columns = ['ID', 'Actual_End_Date'])
        Actual_End_Date_DF.to_sql(name = 'temp', con = pandas_conn, schema = 'bi_project_db', if_exists = 'replace',
                                   index = False)

        conn = mysql.connector.connect(host='localhost',
                                                 database='bi_project_db',
                                                 user='root',
                                                 password='root'
                                      )

        cursor = conn.cursor()

        sql_statement = 'UPDATE trip \
               inner join temp ON (trip.id = temp.id) \
               SET trip.Actual_End_Date = temp.Actual_End_Date;'

        cursor.execute(sql_statement)
        conn.commit()
        conn.close()

### Sales_Order And Sales_Order_Details Tables

In [65]:
#Create new orders. #this function creates new orders for the entered date. it takes an input parameter as the order date. 
#current_date is the default parameter. #the function returns a dataframe with the order information

def Create_Orders(P_Date = date.today()):
    Numbers_Of_Orders_List = list(range(5,15))
    Number_Of_Orders = random.choice(Numbers_Of_Orders_List)
    Ratings_List = list(range(1,6))

    Hours_List = list(range(0,24))
    Mins_Secs_List = list(range(1,60))

    Order_Date = []
    for i in range(Number_Of_Orders):
        Rand_Hr = str(random.choice(Hours_List))
        Rand_Min = str(random.choice(Mins_Secs_List))
        Rand_Sec = str(random.choice(Mins_Secs_List))
        date_i = datetime.strptime(str(P_Date) + ' ' + Rand_Hr + ':' + Rand_Min + ':' + Rand_Sec ,'%Y-%m-%d %H:%M:%S')
        #concatenate the entered date with random hours, minutes and seconds to create a random order date for today
        Order_Date.append(date_i)

    Order_Date_DF =  pd.DataFrame(Order_Date, columns = ['Order_Date'])
    Order_Date_DF.to_sql(name = 'temp', con = pandas_conn, schema = 'bi_project_db', if_exists = 'replace', index = False)

    Order_Date_With_Trip_DF = \
        pd.read_sql_query('select Order_Date, trip_id, expected_start_date, Actual_end_date \
                            from \
                            ( \
                                select o.*, t.id as trip_id, t.expected_start_date, t.Actual_End_Date, \
                                row_number() over(partition by o.Order_Date order by t.expected_start_date asc) as trip_rank \
                                from  bi_project_db.temp o \
                                left join bi_project_db.trip t on o.order_date < t.expected_start_date \
                            ) a \
                            where trip_rank = 2;', \
                pandas_conn)
    #for each order, assign a trip that has an expected_start_date greater than the order date. because there are many trips 
    #that will have expected_start_date greater than the order date, get only the second trip using the 
    #row_number() window function. make sure that there are trips created ahead of the order date, because if there arent any,
    #the query will not return a result, no trip_id will be assigned to the order, so the function will return an error
    #that all arrays must have the same length/index. that's why i made the default parameter for the function Create_Trips()
    #to be current_date + 1 day, given that the function Create_Orders() is current_date only. so there will be trips 1 day
    #ahead of the orders.


    Order_Method_IDs = pd.read_sql_query('select id from order_method', pandas_conn)
    Order_Method_IDs = Order_Method_IDs['id'].to_list()

    Payment_Type_IDs = pd.read_sql_query('select id from payment_type', pandas_conn)
    Payment_Type_IDs = Payment_Type_IDs['id'].to_list()

    Employee_IDs = pd.read_sql_query('select id from employee', pandas_conn)
    Employee_IDs = Employee_IDs['id'].to_list()

    Customer_IDs = pd.read_sql_query('select id from customer', pandas_conn)
    Customer_IDs = Customer_IDs['id'].to_list()


    Order_Date = Order_Date_With_Trip_DF['Order_Date'].to_list()

    Order_Method_ID = [random.choice(Order_Method_IDs) for i in range(Number_Of_Orders)]

    Payment_Type_ID = [random.choice(Payment_Type_IDs) for i in range(Number_Of_Orders)]

    Order_Gross_Amount = [0 for i in range(Number_Of_Orders)] #set as 0 until lines are created. then this value will be updated
    #using the function Add_Order_Amount()

    Order_Net_Amount = [0 for i in range(Number_Of_Orders)] #set as 0 until lines are created. then this value will be updated
    #using the function Add_Order_Amount()

    CustomerID = [random.choice(Customer_IDs) for i in range(Number_Of_Orders)]

    EmployeeID = [random.choice(Employee_IDs) for i in range(Number_Of_Orders)]

    TripID = Order_Date_With_Trip_DF['trip_id'].to_list()

    Rating = [random.choice(Ratings_List) for i in range(Number_Of_Orders)]

    Expected_Delivery_Date = Order_Date_With_Trip_DF['expected_start_date'].to_list()

    Actual_Delivery_Date = Order_Date_With_Trip_DF['Actual_end_date'].to_list()


    Dic = {
            'Order_Date' : Order_Date, 'Order_Method_ID': Order_Method_ID, 'Payment_Type_ID': Payment_Type_ID, \
            'Order_Gross_Amount': Order_Gross_Amount, 'Order_Net_Amount': Order_Net_Amount,
            'CustomerID': CustomerID, 'EmployeeID': EmployeeID, 'TripID': TripID, 
            'Rating': Rating, 'Expected_Delivery_Date': Expected_Delivery_Date, 
            'Actual_Delivery_Date': Actual_Delivery_Date
          }

    Sales_Order_DF = pd.DataFrame(Dic)
    
    return Sales_Order_DF

In [66]:
#this function takes the orders DF as an input. it does not return anything.

def Insert_Orders(Sales_Order_DF):

    if Sales_Order_DF is None:
        pass
    
    else:
        
        cols_list = Sales_Order_DF.columns.to_list()
        list_to_string = ', '.join(cols_list)
        columns = '(' + list_to_string + ')'
        Insert_String = 'insert into bi_project_db.sales_order \n ' \
        +  columns  + '\n' + \
        'Values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'

        conn = mysql.connector.connect(
                                        host='localhost',
                                        database='bi_project_db',
                                        user='root',
                                        password='root'
                                       )

        cursor = conn.cursor()



        for index, record in Sales_Order_DF.iterrows():
            cursor.execute(Insert_String, tuple(record))
            conn.commit()

        conn.close()

In [67]:
#create order lines for an order_id. it takes an order id as an input parameter. it returns an order lines dataframe

def Create_Order_Line(Order_Number):
    Order_Lines_List = [1,2,3,4,5]
    Number_Of_Lines = random.choice(Order_Lines_List)

    Products_DF = pd.read_sql_query('select id, selling_price from product', pandas_conn)
    Product_IDs = Products_DF['id'].to_list()
    ProductID = random.sample(Product_IDs,Number_Of_Lines) #generates unique product_ids. this makes sure that each order line
    #will have a unique product_id. in other words, a product_id will not be repeated in more than one line of the same order
    ProductID_DF = pd.DataFrame(ProductID, columns = ['Product_ID'])
    Products_With_Price_DF = ProductID_DF.merge(Products_DF, how='left', left_on = 'Product_ID', right_on = 'id')
    Products_With_Price_DF = Products_With_Price_DF[['id','selling_price']]

    Promotions_DF = pd.read_sql_query('select id, amount from promotion', pandas_conn)
    Promotion_IDs = Promotions_DF['id'].to_list()
    PromotionID = [random.choice(Promotion_IDs) for i in range(Number_Of_Lines)]
    PromotionID_DF = pd.DataFrame(PromotionID, columns = ['Promotion_ID'])
    Promotion_With_Amount_DF = PromotionID_DF.merge(Promotions_DF, how='left', left_on = 'Promotion_ID', right_on = 'id')
    Promotion_With_Amount_DF = Promotion_With_Amount_DF[['id','amount']]
    Promotion_With_Amount_DF.rename(columns = {'id':'promotion_id'},inplace = True)

    Quantity_Sold = [random.choice([1,2,3]) for i in range(Number_Of_Lines)]
    Quantity_Sold_DF = pd.DataFrame(Quantity_Sold, columns = ['Quantity'])

    Products_With_Price_And_Qty_DF = Products_With_Price_DF.join(Quantity_Sold_DF)

    Products_With_Price_And_Qty_DF
    Products_With_Price_And_Qty_And_Promotion_DF = Products_With_Price_And_Qty_DF.join(Promotion_With_Amount_DF)
    Products_With_Price_And_Qty_And_Promotion_DF
    Final_DF = Products_With_Price_And_Qty_And_Promotion_DF[['id','selling_price','Quantity','promotion_id','amount']]

    Final_DF['Net_Amount'] = Final_DF['selling_price'] * (1 - Final_DF['amount']) * Final_DF['Quantity']
    Net_Amount = Final_DF['Net_Amount'].to_list() #1 - the promotion amount * selling_price to get the price after the promotion

    Final_DF['Gross_Amount'] = Final_DF['selling_price'] * Final_DF['Quantity']
    Gross_Amount = Final_DF['Gross_Amount'].to_list()


    OrderID = [Order_Number for line in range(Number_Of_Lines)]

    Order_Line_Number = [i for i in range(1, Number_Of_Lines + 1)] #start creating line numbers from 1

    ProductID = ProductID

    PromotionID = PromotionID

    Quantity_Sold = [random.choice([1,2,3]) for i in range(Number_Of_Lines)]

    Net_Amount = Net_Amount

    Gross_Amount = Gross_Amount


    Dic = {
            'OrderID' : OrderID, 'Order_Line_Number': Order_Line_Number, 'ProductID': ProductID, \
            'PromotionID': PromotionID, 'Quantity_Sold': Quantity_Sold,
            'Net_Amount': Net_Amount, 'Gross_Amount': Gross_Amount
          }

    Sales_Order_Details_DF = pd.DataFrame(Dic)
    
    return Sales_Order_Details_DF

In [68]:
#get orders that do not have order lines. this function does not have any input parameters.
#it just checks if an order has order lines, if it doesnt, it will call the function Create_Order_Line().
#the function Order_Line_Check() will return all order lines of orders that did not have lines all combined into one DF

def Order_Line_Check():
    
    create_order_lines_df = \
    pd.read_sql_query(
        'select id from bi_project_db.sales_order where id not in (select orderid from bi_project_db.sales_order_details)', \
            pandas_conn)

    order_numbers = create_order_lines_df['id'].to_list()

    DF_List = []
    df = pd.DataFrame() #create an empty DF to be able to use the function pd.concat() because it accepts atleast 2 DF's
    #if only 1 order does not have lines, 1 DF is created. + the empty DF, so total 2 DFs. so pd.concat() will not 
    #raise an error
    DF_List.append(df)
    
    for order_number in order_numbers:
        DF = Create_Order_Line(order_number)
        DF_List.append(DF)
    
    if len(DF_List) >= 2: #if there are no order that do not have lines, no order lines will be created, so only 1 DF
        #is created which is the empty DF from pd.DataFrame(), so len(DF_List) will not meet the condition >=2 so
        #the code will not continue execution
        all_orders_df = pd.concat(DF_List)
        return all_orders_df

In [69]:
#insert order lines. this function takes the order lines DF as an input. it does not return anything.

def Insert_Order_Lines(Orders_DF):
    
    if Orders_DF is None:
        pass
    
    else:
        

        cols_list = Orders_DF.columns.to_list()
        list_to_string = ', '.join(cols_list)
        columns = '(' + list_to_string + ')'
        Insert_String = 'insert into bi_project_db.sales_order_details \n ' \
        +  columns  + '\n' + \
        'Values (%s, %s, %s, %s, %s, %s, %s)'

        conn = mysql.connector.connect(
                                        host='localhost',
                                        database='bi_project_db',
                                        user='root',
                                        password='root'
                                       )

        cursor = conn.cursor()



        for index, record in Orders_DF.iterrows():
            cursor.execute(Insert_String, tuple(record))
            conn.commit()

        conn.close()

In [70]:
#add net and gross amount to orders with newly created lines. the function does not accept any parameters and does not 
#return anyhing

def Add_Order_Amount():
    
    orders_with_no_amount_df = \
    pd.read_sql_query(
        'select * \
        from bi_project_db.sales_order_details a\
        inner join bi_project_db.sales_order b on a.orderid = b.id \
            and order_net_amount = 0', \
            pandas_conn)
    #get sales order details of orders that have an amount = 0.
    
    if orders_with_no_amount_df.empty == True:
        pass
    
    else:
        
        amount_by_order = orders_with_no_amount_df.pivot_table(values = ['Net_Amount', 'Gross_Amount'],
                                                 index = 'OrderID', aggfunc = 'sum').reset_index()

        #aggregate the line amount by order_id to get amount by order
        
        amount_by_order.to_sql(name = 'temp', con = pandas_conn, schema = 'bi_project_db', if_exists = 'replace',
                                   index = False)

        conn = mysql.connector.connect(host='localhost',
                                                 database='bi_project_db',
                                                 user='root',
                                                 password='root'
                                      )

        cursor = conn.cursor()

        sql_statement = 'UPDATE sales_order \
               inner join temp ON (sales_order.id = temp.OrderID) \
               SET sales_order.Order_Gross_Amount = temp.Gross_Amount, \
               sales_order.Order_Net_Amount = temp.Net_Amount;'

        cursor.execute(sql_statement)

        conn.commit()

        conn.close()

In [71]:
#update order trip end date if the trip has an actual_end_date
#the function does not have input parameters and does not return anything

def Update_Order_Actual_Delivery_Date():

    Orders_DF = pd.read_sql_query('select * from Sales_Order where actual_delivery_date is null', pandas_conn)
    
    if Orders_DF.empty == True:
        pass
    
    else:  

        Trips_DF = pd.read_sql_query('select id, Actual_End_Date from trip where Actual_End_Date is not null', pandas_conn)

        order_with_trip_df = Orders_DF.merge(Trips_DF, how='inner', left_on = 'TripID', right_on = 'id')

        order_with_trip_df = order_with_trip_df[['ID', 'TripID', 'Actual_End_Date']]

        order_with_trip_df.to_sql(name = 'temp', con = pandas_conn, schema = 'bi_project_db', if_exists = 'replace',
                                   index = False)

        conn = mysql.connector.connect(host='localhost',
                                                 database='bi_project_db',
                                                 user='root',
                                                 password='root'
                                      )

        cursor = conn.cursor()

        sql_statement = 'UPDATE Sales_Order \
               inner join temp ON (Sales_Order.ID = temp.ID) \
               SET Sales_Order.Actual_Delivery_Date = temp.Actual_End_Date;'

        cursor.execute(sql_statement)
        conn.commit()
        conn.close()

### Returns Table

In [72]:
#pick randomly records from the sales_order_details table where the order_date is in the last 14 days, and set this record
#as a return transaction in the retuns table.
#this function get the order_date as an input. it returns return lines transactions. 
#if the return lines records are >= 10% from the total sales orders lines, no new return lines will be created.

def Create_Return_Lines(P_Date = date.today()):

    query_string = 'select round((select count(*) from returns) / (select count(*) from sales_order_details) * 100,0);'

    return_lines = pd.read_sql_query(query_string, pandas_conn)
    return_lines = return_lines.iloc[0,0]

    if return_lines >= 10:
        pass
    
    else:
        
        Numbers_Of_Return_Lines_List = [1,2,3]
        #max of 3 return lines because a minimum of 3 order lines can be created. 3 orders (from the function Create_Orders() )
        #X 1 line (from the function Create_Order_Line()) each. the number of returns lines cant
        #exceed the minimum number of order lines or an error will be raised.

        Number_Of_Return_Lines = random.choice(Numbers_Of_Return_Lines_List)

        Return_Reason_DF = pd.read_sql_query('select id from return_reason', pandas_conn)
        Return_Reason_IDs = Return_Reason_DF['id'].to_list()
        Return_ReasonID = [random.choice(Return_Reason_IDs) for i in range(Number_Of_Return_Lines)]

        sales_order_lines = \
        pd.read_sql_query(
        'select a.id, a.quantity_sold, a.net_amount \
        from bi_project_db.sales_order_details a \
        left join sales_order o on o.id = a.OrderID \
        where a.id not in \
        (select order_detailsid from bi_project_db.returns) \
        and o.Order_Date between \
        DATE_ADD(' + '\'' + str(P_Date) + '\'' + ', INTERVAL -14 DAY) and ' + '\'' + str(P_Date) + '\'' + ';', \
                pandas_conn)
        #get sales order detail lines that are not in the returns table and the order_date must be 14 days with the order_date

        Sales_Order_Line_IDs_List = sales_order_lines['id'].to_list()

        if len(Sales_Order_Line_IDs_List) <= 3: #if there are only 3 records, do not continue execution or else an
            #error will be raised if the lines are only 2.
            pass

        else:

            Sales_Order_Line_IDs = random.sample(Sales_Order_Line_IDs_List, Number_Of_Return_Lines)
            Sales_Order_Line_IDs_DF = pd.DataFrame(Sales_Order_Line_IDs, columns = ['Sales_Order_Line_ID'])

            Sales_Order_Line_IDs_With_Qty_And_Amount = \
                Sales_Order_Line_IDs_DF.merge(sales_order_lines, how='left', left_on = 'Sales_Order_Line_ID', right_on = 'id')
            Sales_Order_Line_IDs_With_Qty_And_Amount = \
                Sales_Order_Line_IDs_With_Qty_And_Amount[['Sales_Order_Line_ID','quantity_sold','net_amount']]



            Sales_Order_Line_IDs = Sales_Order_Line_IDs_With_Qty_And_Amount['Sales_Order_Line_ID'].to_list()

            Return_ReasonID = Return_ReasonID

            Returned_Quantity = Sales_Order_Line_IDs_With_Qty_And_Amount['quantity_sold'].to_list()

            Returned_Amount = Sales_Order_Line_IDs_With_Qty_And_Amount['net_amount'].to_list()

            Return_Date = [datetime.now() for i in range(Number_Of_Return_Lines)]


            Dic = {
                    'Order_DetailsID' : Sales_Order_Line_IDs, 'Return_ReasonID': Return_ReasonID, \
                    'Returned_Quantity': Returned_Quantity, 'Returned_Amount': Returned_Amount, \
                    'Return_Date': Return_Date
                   }



            Returns_DF = pd.DataFrame(Dic)

            return Returns_DF

In [73]:
#insert return lines. this function takes the return lines DF as an input. it does not return anything.
def Insert_Return_Lines(Returns_DF):

    if Returns_DF is None:
        pass
    
    else:

        cols_list = Returns_DF.columns.to_list()
        list_to_string = ', '.join(cols_list)
        columns = '(' + list_to_string + ')'
        Insert_String = 'insert into bi_project_db.returns \n ' \
        +  columns  + '\n' + \
        'Values (%s, %s, %s, %s, %s)'

        conn = mysql.connector.connect(
                                        host='localhost',
                                        database='bi_project_db',
                                        user='root',
                                        password='root'
                                       )

        cursor = conn.cursor()



        for index, record in Returns_DF.iterrows():
            cursor.execute(Insert_String, tuple(record))
            conn.commit()

        conn.close()

### Purchase_Order And Purchase_Order_Details Tables

In [74]:
#Create new purchase orders. #this function creates new purchase orders for the entered date. 
#it takes an input parameter as the order date. 
#current_date is the default parameter. #the function returns a dataframe with the purchase order information
#a maximum of 2 purchase orders are created each day

def Create_Purchase_Order(P_Date = date.today()):
    
    query_string = 'select count(*) \
             from bi_project_db.purchase_order \
             where cast(order_date as date) = ' + '\'' + str(P_Date) + '\''

    Purchase_Orders = pd.read_sql_query(query_string, pandas_conn)
    Purchase_Orders = Purchase_Orders.iloc[0,0]

    if Purchase_Orders < 2:
    
    
        Number_Of_Orders = 1

        Hours_List = list(range(0,24))
        Mins_Secs_List = list(range(1,60))

        Rand_Hr = str(random.choice(Hours_List))
        Rand_Min = str(random.choice(Mins_Secs_List))
        Rand_Sec = str(random.choice(Mins_Secs_List))
        Order_Date = datetime.strptime(str(P_Date) + ' ' + Rand_Hr + ':' + Rand_Min + ':' + Rand_Sec ,'%Y-%m-%d %H:%M:%S')

        Supplier_IDs = pd.read_sql_query('select id from supplier', pandas_conn)
        Supplier_IDs = Supplier_IDs['id'].to_list()
        SupplierID = random.choice(Supplier_IDs)

        Employee_IDs = pd.read_sql_query('select id from employee', pandas_conn)
        Employee_IDs = Employee_IDs['id'].to_list()
        EmployeeID = random.choice(Employee_IDs)


        #since only one purchase order will be created per each function run, there is no need to create a list
        #similar to what was done before in the other functions
        
        Order_Date = Order_Date

        Expected_Arrival_Date = Order_Date + timedelta(days = random.choice(list(range(3,9))))

        Order_Value = 0

        SupplierID = SupplierID

        BranchID = 3

        EmployeeID = EmployeeID



        Dic = {
        'Order_Date' : Order_Date, 'Expected_Arrival_Date': Expected_Arrival_Date, 'Order_Value': Order_Value, \
        'SupplierID': SupplierID, 'BranchID': BranchID, 'EmployeeID': EmployeeID
        }

        Purchase_Order_DF = pd.DataFrame(Dic, index=[0])

        return Purchase_Order_DF

In [75]:
#this function takes the purchase orders DF as an input. it does not return anything.

def Insert_Purchase_Orders(Purchase_Order_DF):
    
    if Purchase_Order_DF is None:
        pass
    
    else:
        
    
        conn = mysql.connector.connect(host='localhost',
                                        database='bi_project_db',
                                        user='root',
                                        password='root'
                                        )

        cursor = conn.cursor()

        cols_list = Purchase_Order_DF.columns.to_list()
        list_to_string = ', '.join(cols_list)
        columns = '(' + list_to_string + ')'
        Insert_String = 'insert into bi_project_db.purchase_order \n ' \
        +  columns  + '\n' + \
        'Values (%s, %s, %s, %s, %s, %s)'

        for index, record in Purchase_Order_DF.iterrows():
            cursor.execute(Insert_String, tuple(record))
            conn.commit()
        conn.close()

In [76]:
#create purchase order lines for each purchase_order_id. it takes a purchase_order_id as an input parameter.
#it returns a purchase order lines dataframe

def Create_Purchase_Order_Line(PO_Number):
    Order_Lines_List = [1,2,3]
    Number_Of_Lines = random.choice(Order_Lines_List)

    Raw_Materials_DF = pd.read_sql_query('select id, cost_price from Raw_Material', pandas_conn)
    Raw_Material_IDs = Raw_Materials_DF['id'].to_list()
    Raw_MaterialID = random.sample(Raw_Material_IDs, Number_Of_Lines) #generates unique raw_material_ids. 
    #this makes sure that each purchase order line will have a unique raw_material_id. in other words,
    #a raw_material_id will not be repeated in more than one line of the same purchase order
    Raw_MaterialID_DF = pd.DataFrame(Raw_MaterialID, columns = ['Raw_Material_ID'])
    Raw_Materials_With_Price_DF = Raw_MaterialID_DF.merge(Raw_Materials_DF, how='left', 
                                                          left_on = 'Raw_Material_ID', right_on = 'id')
    Raw_Materials_With_Price_DF = Raw_Materials_With_Price_DF[['id','cost_price']]


    Ordered_Quantity = [random.choice(list(range(30,50))) for i in range(Number_Of_Lines)]
    Ordered_Quantity_DF = pd.DataFrame(Ordered_Quantity, columns = ['Quantity'])

    Final_DF = Raw_Materials_With_Price_DF.join(Ordered_Quantity_DF)

    Final_DF['Ordered_Value'] = Final_DF['cost_price']  * Final_DF['Quantity']
    Ordered_Value = Final_DF['Ordered_Value'].to_list()


    Purchase_OrderID = [PO_Number for line in range(Number_Of_Lines)]

    Line_Number = [i for i in range(1, Number_Of_Lines + 1)]

    Raw_MaterialID = Raw_MaterialID

    Ordered_Quantity = Ordered_Quantity

    Ordered_Value = Ordered_Value   


    Dic = {
            'Purchase_OrderID' : Purchase_OrderID, 'Line_Number': Line_Number, 'Raw_MaterialID': Raw_MaterialID, \
            'Ordered_Quantity': Ordered_Quantity, 'Ordered_Value': Ordered_Value
          }

    Purchase_Order_Details_DF = pd.DataFrame(Dic)
    
    return Purchase_Order_Details_DF

In [77]:
#get purchase orders that do not have order lines. this function does not have any input parameters.
#it just checks if a purchase order has order lines, if it doesnt, it will call the function Create_Purchase_Order_Line().
#the function Purchase_Order_Line_Check() will return all order lines of orders that did not have lines all combined into one DF

def Purchase_Order_Line_Check():
    
    create_order_lines_df = \
    pd.read_sql_query(
        'select id from bi_project_db.purchase_order where id not in \
        (select Purchase_orderid from bi_project_db.purchase_order_details)', \
            pandas_conn)

    order_numbers = create_order_lines_df['id'].to_list()

    DF_List = []
    df = pd.DataFrame()
    DF_List.append(df)
    
    for order_number in order_numbers:
        DF = Create_Purchase_Order_Line(order_number)
        DF_List.append(DF)
    
    if len(DF_List) >= 2:
        purchase_orders_df = pd.concat(DF_List)
        return purchase_orders_df

In [78]:
#insert purchase order lines. this function takes the purchase order lines DF as an input. it does not return anything.

def Insert_Purchase_Order_Lines(Purchase_Orders_DF):
    
    if Purchase_Orders_DF is None:
        pass
    
    else:
        

        cols_list = Purchase_Orders_DF.columns.to_list()
        list_to_string = ', '.join(cols_list)
        columns = '(' + list_to_string + ')'
        Insert_String = 'insert into bi_project_db.purchase_order_details \n ' \
        +  columns  + '\n' + \
        'Values (%s, %s, %s, %s, %s)'

        conn = mysql.connector.connect(
                                        host='localhost',
                                        database='bi_project_db',
                                        user='root',
                                        password='root'
                                       )

        cursor = conn.cursor()



        for index, record in Purchase_Orders_DF.iterrows():
            cursor.execute(Insert_String, tuple(record))
            conn.commit()

        conn.close()

In [79]:
#add value to purchase orders with newly created lines. #the function does not accept any parameters and does not 
#return anyhing

def Add_Purchase_Order_Value():
    
    orders_with_no_amount_df = \
    pd.read_sql_query(
        'select * \
        from bi_project_db.purchase_order_details a\
        inner join bi_project_db.purchase_order b on a.purchase_orderid = b.id \
            and order_value = 0', \
            pandas_conn)
    
    #get purchase order lines of purchase orders that have a value of 0
    
    if orders_with_no_amount_df.empty == True:
        pass
    
    else:
        
        amount_by_order = orders_with_no_amount_df.pivot_table(values = ['Ordered_Value'],
                                                 index = 'Purchase_OrderID', aggfunc = 'sum').reset_index()

        amount_by_order.to_sql(name = 'temp', con = pandas_conn, schema = 'bi_project_db', if_exists = 'replace',
                                   index = False)

        conn = mysql.connector.connect(host='localhost',
                                                 database='bi_project_db',
                                                 user='root',
                                                 password='root'
                                      )

        cursor = conn.cursor()

        sql_statement = 'UPDATE purchase_order \
               inner join temp ON (purchase_order.id = temp.Purchase_OrderID) \
               SET purchase_order.Order_value = temp.Ordered_Value;'

        cursor.execute(sql_statement)

        conn.commit()

        conn.close()

### Invoice And Invoice_Details Tables

In [80]:
#this functions checks if there are purchase orders that do not have invoices. it does not accept any input parameters.
#the function returns invoices dataframe for each purchase order

#business rules for creating invoices:
#for each PO
#get the dates range between the (order_date + 1 day) and the (expected_arrival_date + a random of -1 to 2 days)
#this dates range will be used to get the invoices for each PO.
#the number of invoices for each PO will be a random number of the difference between the
#PO order_date and the expected_delivery_date



def Create_PO_Invoices():
    
    
    #get purchase orders that do not have invoices
    
    PO = \
    pd.read_sql_query(
    'select id, order_date, expected_arrival_date, \
    datediff(expected_arrival_date, order_date) as diff \
    from bi_project_db.purchase_order \
    where id not in \
    (select purchase_orderid from invoice);', 
            pandas_conn)

    
    if PO.empty == True:
        pass
    
    else:
        PO['invoices_start_interval'] = PO['order_date'].apply(lambda x: x + timedelta(days = 1))
        PO['invoices_end_interval'] = PO['expected_arrival_date'].apply(lambda x: x + timedelta(days = \
                                                                                        random.choice([-1,0,1,2])))
        PO['no_of_invoices'] = PO['diff'].apply(lambda x: random.choice(range(1,x)))


        Employees = pd.read_sql_query('select id from employee', pandas_conn)
        Employees = Employees['id'].to_list()

        order_invoices_list = []

        
        #for each PO, get its ID, the start and end_date intervals so that it will be used to create invoice dates, the number
        #of invoices
        
        
        for index, row in PO.iterrows():
            po_id = row['id']
            start_date = row['invoices_start_interval'] 
            end_date = row['invoices_end_interval']
            no_of_invoices = row['no_of_invoices']
            dates_list = pd.date_range(start_date, end_date).to_list()
            invoice_dates = sorted(random.sample(dates_list, no_of_invoices)) 
            #to make sure that each date is picked only once. random.sample returns a list. this list will be sorted
            #so that dates will be assigned from smallest to biggest as each invoice ID is created.
            #this makes sure that invoice_id 1 has a smaller invoice date compared to invoice_date 2
            

            #loop on the number of invoices for each PO and generate an invoice date in order based on the dates range 
            #in tge date_list
            for invoice in range(no_of_invoices):
                order_invoices_list.append([invoice_dates[invoice], 0, po_id, random.choice(Employees)])
                #the 0 is the invoice amount. it will be updated using the function Add_Invoice_Value()

        invoices_df = pd.DataFrame(order_invoices_list, columns = ['Date','Invoice_Amount', 'Purchase_OrderID', 'EmployeeID']) 

        return invoices_df

In [81]:
#insert invoices. this function takes the invoices DF as an input. it does not return anything.

def Insert_Invoices(Invoices_DF):
    
    if Invoices_DF is None:
        pass
    
    else:
        
    
        conn = mysql.connector.connect(host='localhost',
                                        database='bi_project_db',
                                        user='root',
                                        password='root'
                                        )

        cursor = conn.cursor()

        cols_list = Invoices_DF.columns.to_list()
        list_to_string = ', '.join(cols_list)
        columns = '(' + list_to_string + ')'
        Insert_String = 'insert into bi_project_db.invoice \n ' \
        +  columns  + '\n' + \
        'Values (%s, %s, %s, %s)'

        for index, record in Invoices_DF.iterrows():
            cursor.execute(Insert_String, tuple(record))
            conn.commit()
        conn.close()

In [82]:
#this function checks for invoices that do not have lines, and returns invoice lines DF. the function does not accept input
#parameters.

#business rules for creating invoice lines:
#for every PO, get the number of invoices.
#for every PO, get the lines.
#for every PO line, divide the quantity of each line by the number of invoices.
#this will be the invoice line
#when dividing the quantity of each purchase order line by the number of invoices, the remaining will be added to 
#the last invoice
#for example, if a PO line has quantity  = 5, and the number of invoices is 2, so each invoice line will have
#quantity = 2 (5/2). however, there will be 1 remaining quantity, this will be added to the last invoice. so the first invoice
#will have quantity of 2, the second invoice which is the last invoice will have a quantity of 3.
#the sum of each raw_material quantity in the PO line should equal the raw_material quantity in the invoice lines

def Create_Invoice_Lines():


    #get invoices that do not have lines
    Invoices_Without_Lines = \
        pd.read_sql_query(
        'select id as invoice_id, Purchase_orderid \
        from invoice \
        where id not in \
        (select invoiceid from invoice_details);', 
                pandas_conn)

    
    if Invoices_Without_Lines.empty == True:
        pass
    
    else:

        #get the number of invoices for each PO

        Invoices_By_PO = Invoices_Without_Lines.pivot_table(values = ['invoice_id'],
                                                         index = 'Purchase_orderid', aggfunc = 'count').reset_index()
        Invoices_By_PO.rename(columns = {'invoice_id' : 'Num_Of_Invoices'}, inplace = True)

        Invoices_By_PO.to_sql(name = 'temp', con = pandas_conn, schema = 'bi_project_db', 
                              if_exists = 'replace', index = False)


        invoice_lines = \
            pd.read_sql_query(
            'select b.*, a.Num_Of_Invoices, floor(b.Ordered_Quantity/a.Num_Of_Invoices) as inv_qty, \
            floor(b.Ordered_value/a.Num_Of_Invoices) as inv_amt\
            from temp a \
            left join purchase_order_details b on \
            a.Purchase_orderid = b.Purchase_orderid;', 
                    pandas_conn)


        invoice_lines_remains = invoice_lines[['Purchase_OrderID', 'Raw_MaterialID', 'Num_Of_Invoices', 
                                               'Ordered_Quantity', 'Ordered_Value']].copy()

        invoice_lines_remains['remaining_qty'] = invoice_lines_remains['Ordered_Quantity'] % \
        invoice_lines_remains['Num_Of_Invoices']

        invoice_lines_remains['remaining_amount'] = invoice_lines_remains['Ordered_Value'] % \
        invoice_lines_remains['Num_Of_Invoices']


        invoice_lines = invoice_lines[['Purchase_OrderID', 'Raw_MaterialID', 'inv_qty', 'inv_amt']]
        invoice_lines_with_inv_number = Invoices_Without_Lines.merge(invoice_lines, how='left', 
                                                                     left_on = 'Purchase_orderid', right_on = 'Purchase_OrderID')
        invoice_lines_with_inv_number = invoice_lines_with_inv_number \
                                            [['invoice_id','Purchase_orderid','Raw_MaterialID','inv_qty','inv_amt']]


        #partition by PO_id and raw material, order by the invoice_id desc
        invoice_lines_with_inv_number['row_number'] = invoice_lines_with_inv_number.sort_values(['invoice_id'],ascending = False)\
                     .groupby(['Purchase_orderid', 'Raw_MaterialID'])\
                     .cumcount() + 1


        #get the last invoice of each order and raw_material
        updated_inv = invoice_lines_with_inv_number.loc[invoice_lines_with_inv_number['row_number'] == 1]

        #join the previous df with the remaining quantity and value so that the last invoice qty and amount can be updated
        updated_inv = invoice_lines_remains.merge(updated_inv, how='left', left_on = ['Purchase_OrderID', 'Raw_MaterialID']
                                    , right_on = ['Purchase_orderid', 'Raw_MaterialID'])

        #add the remaining qty and amount to the last invoice
        updated_inv['inv_qty'] = updated_inv['inv_qty'] + updated_inv['remaining_qty'] 
        updated_inv['inv_amt'] = updated_inv['inv_amt'] + updated_inv['remaining_amount'] 
        updated_inv = updated_inv[['invoice_id', 'Purchase_orderid', 'Raw_MaterialID', 'inv_qty', 'inv_amt', 'row_number']]

        
        #join the invoice line with the remaining quantity
        invoice_lines_with_inv_number = invoice_lines_with_inv_number.merge( \
            updated_inv, how='left', left_on = ['Purchase_orderid', 'Raw_MaterialID', 'invoice_id']
                                    , right_on = ['Purchase_orderid', 'Raw_MaterialID', 'invoice_id'],
                                     suffixes=(None, '_x')) #add suffix of _x to the DF that has the remaining Qty

        
        #update the quantity of the last invoice to include the remaining quantity
        invoice_lines_with_inv_number.loc[invoice_lines_with_inv_number['inv_qty_x'].notnull(), 'inv_qty'] = \
        invoice_lines_with_inv_number['inv_qty_x']
        invoice_lines_with_inv_number.loc[invoice_lines_with_inv_number['inv_qty_x'].notnull(), 'inv_amt'] = \
        invoice_lines_with_inv_number['inv_amt_x']


        invoice_lines_with_inv_number = \
        invoice_lines_with_inv_number[['invoice_id','Raw_MaterialID','inv_qty','inv_amt']]
        invoice_lines_with_inv_number.rename(columns = {'invoice_id':'InvoiceID', 'inv_qty':'Invoiced_Quantity',\
                                                       'inv_amt':'Invoiced_Amount'}, inplace = True)
        return invoice_lines_with_inv_number

In [83]:
#insert invoice lines. this function takes the invoice lines DF as an input. it does not return anything.

def Insert_Invoice_Lines(Invoices_Lines_DF):
    
    if Invoices_Lines_DF is None:
        pass
    
    else:
        
    
        conn = mysql.connector.connect(host='localhost',
                                        database='bi_project_db',
                                        user='root',
                                        password='root'
                                        )

        cursor = conn.cursor()

        cols_list = Invoices_Lines_DF.columns.to_list()
        list_to_string = ', '.join(cols_list)
        columns = '(' + list_to_string + ')'
        Insert_String = 'insert into bi_project_db.invoice_details \n ' \
        +  columns  + '\n' + \
        'Values (%s, %s, %s, %s)'

        for index, record in Invoices_Lines_DF.iterrows():
            cursor.execute(Insert_String, tuple(record))
            conn.commit()
        conn.close()

In [84]:
#add value to invoices with newly created lines. #the function does not accept any parameters and does not 
#return anyhing

def Add_Invoice_Value():
    
    invoices_with_no_amount_df = \
    pd.read_sql_query(
        'select * \
        from bi_project_db.invoice_details a\
        inner join bi_project_db.invoice b on a.invoiceid = b.id \
            and invoice_amount = 0', \
            pandas_conn)
    
    if invoices_with_no_amount_df.empty == True:
        pass
    
    else:
        
        amount_by_invoice = invoices_with_no_amount_df.pivot_table(values = ['Invoiced_Amount'],
                                                 index = 'InvoiceID', aggfunc = 'sum').reset_index()

        amount_by_invoice.to_sql(name = 'temp', con = pandas_conn, schema = 'bi_project_db', if_exists = 'replace',
                                   index = False)

        conn = mysql.connector.connect(host='localhost',
                                                 database='bi_project_db',
                                                 user='root',
                                                 password='root'
                                      )

        cursor = conn.cursor()

        sql_statement = 'UPDATE invoice \
               inner join temp ON (invoice.id = temp.InvoiceID) \
               SET invoice.Invoice_Amount = temp.Invoiced_Amount;'

        cursor.execute(sql_statement)

        conn.commit()

        conn.close()

### Filling Lookup Tables

In [85]:
#Fill Lookups

Promotion()

Payment_Type()

Order_Method()

Return_Reason()

Vehicle()

Product()

Country()

City()

Area()

Branch()

Raw_Material()

Customer()

Department()

Employee()

Supplier()

Route()

### Filling Transaction Tables For 1 Day

In [189]:
#Trips Cycle

'''
Insert_Trips(Create_Trips())

Trip_Actual_Start_Date()

Trip_Actual_End_Date()
'''

'\nInsert_Trips(Create_Trips())\n\nTrip_Actual_Start_Date()\n\nTrip_Actual_End_Date()\n'

In [190]:
#Sales Cycle

'''
Insert_Orders(Create_Orders())

Insert_Order_Lines(Order_Line_Check())

Add_Order_Amount()

Update_Order_Actual_Delivery_Date()

Insert_Return_Lines(Create_Return_Lines())
'''

'\nInsert_Orders(Create_Orders())\n\nInsert_Order_Lines(Order_Line_Check())\n\nAdd_Order_Amount()\n\nUpdate_Order_Actual_Delivery_Date()\n\nInsert_Return_Lines(Create_Return_Lines())\n'

In [191]:
#PO Cycle

'''
Insert_Purchase_Orders(Create_Purchase_Order())

Insert_Purchase_Order_Lines(Purchase_Order_Line_Check())

Add_Purchase_Order_Value()

Insert_Invoices(Create_PO_Invoices())

Insert_Invoice_Lines(Create_Invoice_Lines())

Add_Invoice_Value()
'''

'\nInsert_Purchase_Orders(Create_Purchase_Order())\n\nInsert_Purchase_Order_Lines(Purchase_Order_Line_Check())\n\nAdd_Purchase_Order_Value()\n\nInsert_Invoices(Create_PO_Invoices())\n\nInsert_Invoice_Lines(Create_Invoice_Lines())\n\nAdd_Invoice_Value()\n'

### Filling Transactional Tables For X Days

In [87]:
#Generating Trips Data For  The Last 2 years from today

def Generate_Trips_Data(start_date = date.today() - timedelta(weeks = 104),
                        end_date = date.today() + timedelta(days = 1)):
    
    #start_date = date.today() - timedelta(days = 100)
    #end_date = date.today() + timedelta(days = 1)

    datetimelist = pd.date_range(start_date, end_date).tolist()
    dateslist = [i.date() for i in datetimelist]

    for date_i in dateslist:
        Insert_Trips(Create_Trips(date_i))

    Trip_Actual_Start_Date()
    Trip_Actual_End_Date()

In [88]:
#Generating Sales Data For  The Last 2 years from today

def Generate_Sales_Data(start_date = date.today() - timedelta(weeks = 104),
                        end_date = date.today()):


    #start_date = date.today() - timedelta(days = 100)
    #end_date = date.today() 

    datetimelist = pd.date_range(start_date, end_date).tolist()
    dateslist = [i.date() for i in datetimelist]

    for date_i in dateslist: 
        Insert_Orders(Create_Orders(date_i))
        Insert_Order_Lines(Order_Line_Check())
        Insert_Return_Lines(Create_Return_Lines(date_i))
            
    Add_Order_Amount()
    Update_Order_Actual_Delivery_Date()

In [89]:
#Generating Purchases Data For The Last 2 years from today

def Generate_Purchases_Data(start_date = date.today() - timedelta(weeks = 104),
                        end_date = date.today()):

    #start_date = date.today() - timedelta(days = 100)
    #end_date = date.today() 
    
    datetimelist = pd.date_range(start_date, end_date).tolist()
    dateslist = [i.date() for i in datetimelist]

    for date_i in dateslist:

        Insert_Purchase_Orders(Create_Purchase_Order(date_i))

    Insert_Purchase_Order_Lines(Purchase_Order_Line_Check())

    Insert_Invoices(Create_PO_Invoices())

    Insert_Invoice_Lines(Create_Invoice_Lines())

    Add_Purchase_Order_Value()

    Add_Invoice_Value()

In [ ]:
#Generate_Trips_Data(start_date = '2022-10-27', end_date = '2022-11-08')
#Generate_Sales_Data(start_date = '2022-10-27', end_date = '2022-11-07')
#Generate_Purchases_Data(start_date = '2022-10-27', end_date = '2022-11-07')

In [195]:
start_time = time.time()
Generate_Trips_Data()
end_time = time.time()
elapsed_time = (end_time - start_time) / 60
print('Execution time:', elapsed_time, 'Minutes')

Execution time: 1.8703925927480063 Minutes

In [196]:
start_time = time.time()
Generate_Sales_Data()
end_time = time.time()
elapsed_time = (end_time - start_time) / 60
print('Execution time:', elapsed_time, 'Minutes')

Execution time: 15.955285028616588 Minutes

In [197]:
start_time = time.time()
Generate_Purchases_Data()
end_time = time.time()
elapsed_time = (end_time - start_time) / 60
print('Execution time:', elapsed_time, 'Minutes')

Execution time: 2.3053950389226276 Minutes

In [198]:
'''
Insert_Purchase_Orders(Create_Purchase_Order())

Insert_Purchase_Order_Lines(Purchase_Order_Line_Check())

Add_Purchase_Order_Value()

Insert_Invoices(Create_PO_Invoices())

Insert_Invoice_Lines(Create_Invoice_Lines())

Add_Invoice_Value()
'''

'\nInsert_Purchase_Orders(Create_Purchase_Order())\n\nInsert_Purchase_Order_Lines(Purchase_Order_Line_Check())\n\nAdd_Purchase_Order_Value()\n\nInsert_Invoices(Create_PO_Invoices())\n\nInsert_Invoice_Lines(Create_Invoice_Lines())\n\nAdd_Invoice_Value()\n'